*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1136px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 32px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 940px;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.logo-title{
    display: flex;
    align-items: center;
    color: #111;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 20px;  
    letter-spacing: -0.54px;
}
.logo-title span{
    color: #111;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.54px;
    margin-left: 4px;
    margin-right: 4px;
}
.social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}